<!DOCTYPE html>
<html>
  <head>
    <title>RedPlayButton</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property ="og:title" content="RedPlayButton" />
    <meta property="og:image" content="<%= image_url('../../../public/rpb.png') %>" />
    <meta property="og:description" content="A YouTube clone">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/4fc9328c/img/favicon.ico" type="image/x-icon">
    <script type="text/javascript">
    window.defaultThumbnail = "<%= asset_path('default.png') %>";
    window.maybelogo="<%= image_url('maybelogo.svg')%>"
    window.defaultPFP = "<%= image_url('default-pfp.png')%>"
    window.defaultBanner = "<%= image_url('default-banner.png')%>"
    window.uploadButton = "<%= image_url('upload-button.png')%>"
    window.angelIcon = "<%= image_url('2055616.png')%>"
    </script>
  </head>

  <body>

    <%= yield %>
    
  </body>
</html>
